//
//  Production.xcconfig
//  MultipleEnvironments1
//
//  Created by Jorge Azurduy on 7/3/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// App Configuration
APP_DISPLAY_NAME = MultipleEnvironments1
BUNDLE_ID_SUFFIX =

// App Icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

// Swift Compilation Conditions
SWIFT_ACTIVE_COMPILATION_CONDITIONS = PROD_ENVIRONMENT

// Preprocessor Definitions
GCC_PREPROCESSOR_DEFINITIONS = PROD_ENVIRONMENT=1
